# ===============================================
# Файлы и папки, генерируемые системой сборки Gradle
# ===============================================
.gradle/
build/

# ===============================================
# Файл для локальных секретов (API-ключи и т.д.)
# Это самый важный файл для безопасности!
# ===============================================
local.properties

# ===============================================
# Файлы и папки IDE (Android Studio)
# Содержат твои личные настройки проекта
# ===============================================
.idea/
*.iml
*.ids
.DS_Store
captures/
.cxx/
*.hprof